.modalWrapper {
  position: relative;
  max-width: 982px;
  min-height: 720px;
  padding: 40px 16px 40px 40px;
  background-color: var(--page-bg-color);
  border-radius: 20px;
  /* overflow-y: scroll; */
}
.buttonCloseModal {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
}

.modalHeader {
  max-width: 902px;
  /* overflow-y: scroll; */
  position: relative;
  /* height: 100%; */
}

.modalContent {
  overflow-y: scroll;
  margin-right: 16px;
}

.camperName {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 8px;
}

.ratingLocationDiv {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.iconStar {
  fill: var(--orange-color);
  margin-right: 4px;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mapPin {
  margin-right: 4px;
}
