.camperCard {
  padding: 24px;
  display: flex;
  gap: 24px;
  border-radius: 20px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  background: inherit;
  max-width: 888px;
}

.cardDescription {
  width: 526px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-family: inherit;
  font-size: inherit;
  color: var(--main-text-color);
}

.camperImage {
  border-radius: 10px;
  object-fit: cover;
}
.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 24px;
}

.camperPriceDiv {
  display: flex;
  align-items: center;
  gap: 10px;
}

.camperPrice {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25;
}

.favoriteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  padding: 2px;
  cursor: pointer;
  outline: none;
}

.iconHeart {
  fill: var(--main-text-color);
}

.supportingText {
  color: var(--grey-text-color);
  margin-bottom: 24px;
}

.categoriesContainer {
  margin-bottom: 24px;
}
