.camperCard {
  padding: 24px;
  display: flex;
  /* align-items: flex-start; */
  gap: 24px;
  border-radius: 20px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  background: inherit;
  width: 888px;
}

.iconHeart {
  fill: red;
  stroke: var(--main-text-color);
}
