:root {
  --main-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --page-bg-color: #fff;
  --main-text-color: #101828;
  --grey-text-color: #475467;
  --button-color: #e44848;
  --orange-color: #ffc531;
  --grey-color: #f2f4f7;
  --light-grey-color: #f7f7f7;

  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  color: var(--main-text-color);
  background-color: var(--page-bg-color);

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
